<div class="card article">
  <div class="grid grid--1x2">
    <img class="article__image" src="images/house.jpeg" alt="Image of House" />
    <div class="card__body">
      <div class="article__pricing">
        <p class="aricle__pricing--title">For Rent</p>
        <span>$10000/Year</span>
      </div>
      <h3>New Appartment Nice Look</h3>
      <div class="location">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#house-chimney-solid"></use>
        </svg>
        <p>Islamabad, Pakistan</p>
      </div>
      <p>3 Bed, 3 Bath, 725 Square-ft</p>
      <div class="author__Detail">
        <div class="media author__profile">
          <div class="media__image">
            <img src="images/avatarImage.jpeg" alt="" />
          </div>
          <div class="media__body">
            <h4 class="media__title">Welliam</h4>
            <p>Property Advisor</p>
          </div>
        </div>
        <div class="author__socialLinks">
          <span class="icon-container icon-container--gray icon-container--sm">
            <svg class="icon icon--sm icon--gray">
              <use xlink:href="images/sprite.svg#link-solid"></use>
            </svg>
          </span>
          <span class="icon-container icon-container--gray icon-container--sm">
            <svg class="icon icon--sm icon--gray">
              <use xlink:href="images/sprite.svg#link-solid"></use>
            </svg>
          </span>
          <span class="icon-container icon-container--gray icon-container--sm">
            <svg class="icon icon--sm icon--gray">
              <use xlink:href="images/sprite.svg#link-solid"></use>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
