<div class="card--information">
  <ul class="list informaion--list">
    <h4>Property Type</h4>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input
            type="checkbox"
            checked
            class="informaion__input"
            name="vehicle1"
          />
          <label for="vehicle1">House</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">Single Family</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">Apartments</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">Office</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">Luxury Home</label>
        </div>
        <span>3000</span>
      </div>
    </li>
  </ul>
</div>
<div class="card--information">
  <ul class="list informaion--list">
    <h4>Aminities</h4>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input
            type="checkbox"
            checked
            class="informaion__input"
            name="vehicle1"
          />
          <label for="vehicle1">House</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">House</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">House</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">House</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">House</label>
        </div>
        <span>3000</span>
      </div>
    </li>
  </ul>
</div>
<div class="card--information">
  <ul class="list informaion--list">
    <h4>Price Range</h4>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input
            type="checkbox"
            checked
            class="informaion__input"
            name="vehicle1"
          />
          <label for="vehicle1">Low Budget</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">Medium</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">High Budget</label>
        </div>
        <span>3000</span>
      </div>
    </li>
  </ul>
</div>
<div class="card--information">
  <ul class="list informaion--list">
    <h4>Bed / Bath</h4>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input
            type="checkbox"
            checked
            class="informaion__input"
            name="vehicle1"
          />
          <label for="vehicle1">Single</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">Double</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">Upto 3</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">Upto 4</label>
        </div>
        <span>3000</span>
      </div>
    </li>
  </ul>
</div>
<div class="card--information">
  <ul class="list informaion--list">
    <h4>Catgarous</h4>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input
            type="checkbox"
            checked
            class="informaion__input"
            name="vehicle1"
          />
          <label for="vehicle1">Buying</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">Renting</label>
        </div>
        <span>3000</span>
      </div>
    </li>
    <li class="list__item">
      <div class="list__information">
        <div class="list__input">
          <input type="checkbox" class="informaion__input" name="vehicle1" />
          <label for="vehicle1">Selling</label>
        </div>
        <span>3000</span>
      </div>
    </li>
  </ul>
</div>
